In [1]:
import os
import pandas as pd
import logging
import sys
import numpy as np

In [2]:
data_path= r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allhyper.data"
df = pd.read_csv(data_path, header=None)
csv_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allhyper.csv"
df.to_csv(csv_path, index=False)

In [3]:
data_path= r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allhypo.data"
df = pd.read_csv(data_path, header=None)
csv_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allhypo.csv"
df.to_csv(csv_path, index=False)

In [4]:
data_path= r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allrep.data"
df = pd.read_csv(data_path, header=None)
csv_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allrep.csv"
df.to_csv(csv_path, index=False)

In [5]:
data_path= r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\dis.data"
df = pd.read_csv(data_path, header=None)
csv_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\dis.csv"
df.to_csv(csv_path, index=False)

In [6]:
data_path= r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\sick.data"
df = pd.read_csv(data_path, header=None)
csv_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\sick.csv"
df.to_csv(csv_path, index=False)

In [7]:
data_path= r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allbp.data"
df = pd.read_csv(data_path, header=None)
csv_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\allbp.csv"
df.to_csv(csv_path, index=False)

In [8]:
folder_path=r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data"

files= ["allbp.data", "allhyper.data", "allhypo.data",
    "allrep.data", "dis.data", "sick.data"]
df_list = []
for file in files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path, header=None)
    df_list.append(df)
merged_df = pd.concat(df_list, ignore_index=True)
output_path = os.path.join(folder_path, "merged_thyroid_data.csv")
merged_df.to_csv(output_path, index=False)

In [ ]:
columns = [
    'age', 'sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication',
    'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid',
    'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych',
    'TSH measured', 'TSH', 'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured',
    'T4U', 'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source', 'Class'
    ]

In [13]:
thyroid_data_frame = pd.read_csv(
    r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\merged_thyroid_data.csv",
    header=0,
    names=columns
)

In [14]:
thyroid_data_frame.head(5)

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807

In [15]:
import re
if 'age' in thyroid_data_frame.columns:
    thyroid_data_frame['age'] = pd.to_numeric(thyroid_data_frame['age'], errors='coerce')
    thyroid_data_frame.loc[thyroid_data_frame['age'] > 150, 'age'] = np.nan
thyroid_data_frame.replace("?", pd.NA, inplace=True)
        
        # Remove unwanted symbols and numerics in target column (Class)
thyroid_data_frame["Class"] = thyroid_data_frame["Class"].astype(str).apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x).strip())
        
thyroid_data_frame.drop(columns=[
    "TBG", "TSH measured", "T3 measured", "TT4 measured", "T4U measured", "FTI measured", "TBG measured", "referral source"
    ], inplace=True)

In [16]:
output_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\notebook\thyroid_data\merged_thyroid_data.csv"
thyroid_data_frame.to_csv(output_path, index=False)

In [17]:
thyroid_data_frame

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,Class
0,41.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.3,2.5,125,1.14,109,negative
1,23.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,4.1,2,102,<NA>,<NA>,negative
2,46.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,0.98,<NA>,109,0.91,120,negative
3,70.0,F,t,f,f,f,f,f,f,f,...,f,f,f,f,0.16,1.9,175,<NA>,<NA>,negative
4,70.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,0.72,1.2,61,0.87,70,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,70.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,2.7,<NA>,155,1.05,148,negative
16796,73.0,M,f,t,f,f,f,f,f,f,...,f,f,f,f,<NA>,0.7,63,0.88,72,sick
16797,75.0,M,f,f,f,f,f,f,f,f,...,f,f,f,f,<NA>,<NA>,147,0.8,183,negative
16798,60.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.4,<NA>,100,0.83,121,negative
16799,81.0,F,f,f,f,f,f,f,f,f,...,f,f,f,f,1.2,1.5,114,0.99,115,negative

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

# File paths
train_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\thyroid_detection\artifact\data_ingestion\2025-04-04-11-16-39\ingested_data\train\train.csv"
test_path = r"E:\Internship_Projects\Thyroid_Disease_Detection_ML\thyroid_detection\artifact\data_ingestion\2025-04-04-11-16-39\ingested_data\test\test.csv"

# Load data
df_train = pd.read_csv(train_path, names=[
    'age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'sex', 'on thyroxine', 'query on thyroxine', 
    'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 
    'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'Class'
])
df_test = pd.read_csv(test_path, names=[
    'age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'sex', 'on thyroxine', 'query on thyroxine', 
    'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 
    'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'Class'
])

# Separate features and target
X_train = df_train.drop("Class", axis=1)
y_train = df_train["Class"]

X_test = df_test.drop("Class", axis=1)
y_test = df_test["Class"]

# Identify column types
num_cols = ['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI']
cat_cols = [col for col in X_train.columns if col not in num_cols]

# Impute numerical features
num_imputer = SimpleImputer(strategy='mean')
X_train[num_cols] = num_imputer.fit_transform(X_train[num_cols])
X_test[num_cols] = num_imputer.transform(X_test[num_cols])

# Impute categorical features
cat_imputer = SimpleImputer(strategy='most_frequent')
X_train[cat_cols] = cat_imputer.fit_transform(X_train[cat_cols])
X_test[cat_cols] = cat_imputer.transform(X_test[cat_cols])

# Label encode 'sex' and 'Class'
le_sex = LabelEncoder()
X_train['sex'] = le_sex.fit_transform(X_train['sex'])
X_test['sex'] = le_sex.transform(X_test['sex'])

le_class = LabelEncoder()
y_train_encoded = le_class.fit_transform(y_train)
y_test_encoded = le_class.transform(y_test)

# Combine processed data if needed
df_train_processed = pd.concat([X_train, pd.Series(y_train_encoded, name='Class')], axis=1)
df_test_processed = pd.concat([X_test, pd.Series(y_test_encoded, name='Class')], axis=1)

# Check processed output
print("Processed Training Data:")
print(df_train_processed.head())

print("\nProcessed Testing Data:")
print(df_test_processed.head())