In [55]:
import pandas as pd
import os
import zipfile
import numpy as np
import requests

In [34]:


# URL of the dataset
url = "https://archive.ics.uci.edu/static/public/102/thyroid+disease.zip"

# Download the ZIP file
response = requests.get(url)
zip_file_path = "thyroid_disease.zip"

# Save the file locally
with open(zip_file_path, "wb") as file:
    file.write(response.content)

print("✅ ZIP file downloaded successfully!")

✅ ZIP file downloaded successfully!

In [35]:


# Extract all files to a directory
extract_dir = "thyroid_data"
with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
    zip_ref.extractall(extract_dir)

# List all extracted files
extracted_files = os.listdir(extract_dir)
print("Extracted Files:", extracted_files)

Extracted Files: ['allbp.data', 'allbp.names', 'allbp.test', 'allhyper.data', 'allhyper.names', 'allhyper.test', 'allhypo.data', 'allhypo.names', 'allhypo.test', 'allrep.data', 'allrep.names', 'allrep.test', 'ann-Readme', 'ann-test.data', 'ann-thyroid.names', 'ann-train.data', 'costs', 'dis.data', 'dis.names', 'dis.test', 'HELLO', 'hypothyroid.data', 'hypothyroid.names', 'Index', 'new-thyroid.data', 'new-thyroid.names', 'sick-euthyroid.data', 'sick-euthyroid.names', 'sick.data', 'sick.names', 'sick.test', 'thyroid.theory', 'thyroid0387.data', 'thyroid0387.names']

In [ ]:
# Define file path
data_file = os.path.join(extract_dir, "allbp.data")

columns = [ 
    'age', 'sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication',
    'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid',
    'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych',
    'TSH measured', 'TSH', 'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured',
    'T4U', 'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source', 'Class'
]

# Load dataset
df = pd.read_csv(data_file, delimiter=",", header=None, na_values="?",names=columns)
csv_file_path = "allbp.csv"
df.to_csv(csv_file_path, index=False)

# Show first 5 rows
#print(df.head())
print(df.shape)

(2800, 30)

In [51]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Class
0,41.0,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative.|3733
1,23.0,F,f,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,negative.|1442
2,46.0,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative.|2965
3,70.0,F,t,f,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative.|806
4,70.0,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,negative.|2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,t,155.0,t,1.05,t,148.0,f,NaN,SVI,negative.|3689
2796,73.0,M,f,t,f,f,f,f,f,f,...,t,63.0,t,0.88,t,72.0,f,NaN,other,negative.|3652
2797,75.0,M,f,f,f,f,f,f,f,f,...,t,147.0,t,0.80,t,183.0,f,NaN,other,negative.|1287
2798,60.0,F,f,f,f,f,f,f,f,f,...,t,100.0,t,0.83,t,121.0,f,NaN,other,negative.|3496
2799,81.0,F,f,f,f,f,f,f,f,f,...,t,114.0,t,0.99,t,115.0,f,NaN,SVI,negative.|724